extends ../layout

block content
  .container.mx-auto.px-4.py-8
    // Header
    .flex.items-center.justify-between.mb-8
      div
        h1.text-4xl.font-bold.mb-2
          i.fas.fa-tag.mr-3
          | Quản Lý Thương Hiệu
        p.text-lg.opacity-70 Quản lý các thương hiệu nước hoa
      a.btn.btn-ghost(href='/dashboard')
        i.fas.fa-arrow-left.mr-2
        | Về Dashboard

    .grid.gap-6(class='lg:grid-cols-3')
      // Brand List
      .card.bg-base-100.shadow-xl(class='lg:col-span-2')
        .card-body
          h2.card-title.text-2xl.mb-4
            i.fas.fa-list.mr-2
            | Danh Sách Thương Hiệu
          if brands && brands.length
            .overflow-x-auto
              table.table.table-zebra
                thead
                  tr
                    th STT
                    th
                      i.fas.fa-tag.mr-2
                      | Tên Thương Hiệu
                    th.text-center Thao Tác
                tbody
                  - let brandIndex = 1
                  each b in brands
                    tr(class='hover')
                      th= brandIndex++
                      td
                        form.inline-flex.gap-2.w-full(method='post', action='/dashboard/brands/' + b._id)
                          input.input.input-sm.input-bordered.flex-1(type='text', name='brandName', value=b.brandName, required)
                          button.btn.btn-sm.btn-success(type='submit')
                            i.fas.fa-save.mr-1
                            | Lưu
                      td.text-center
                        form.inline(method='post', action='/dashboard/brands/' + b._id + '/delete', onsubmit='return confirm("Bạn có chắc muốn xóa thương hiệu này?")')
                          button.btn.btn-sm.btn-error(type='submit')
                            i.fas.fa-trash
          else
            .alert.alert-info
              i.fas.fa-info-circle
              span Chưa có thương hiệu nào. Hãy tạo thương hiệu đầu tiên!

      // Create Brand Form
      .card.bg-base-200.shadow-xl
        .card-body
          h3.card-title.text-xl.mb-4
            i.fas.fa-plus-circle.mr-2
            | Thêm Thương Hiệu Mới
          form(method='post', action='/dashboard/brands')
            .form-control
              label.label
                span.label-text
                  i.fas.fa-tag.mr-2
                  | Tên thương hiệu
              input.input.input-bordered.input-primary(type='text', name='brandName', placeholder='Nhập tên thương hiệu...', required)
            .card-actions.justify-end.mt-4
              button.btn.btn-primary(type='submit')
                i.fas.fa-plus.mr-2
                | Tạo Mới
